<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ci.mapper.CompetitionPeriodMapper">

    <resultMap type="CompetitionPeriod" id="CompetitionPeriodResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="cpInfoId" column="cp_info_id"/>
        <result property="name" column="name"/>
        <result property="picUrl" column="pic_url"/>
        <result property="signBeginTime" column="sign_begin_time"/>
        <result property="signEndTime" column="sign_end_time"/>
        <result property="schoolId" column="school_id"/>
        <result property="schoolName" column="school_name"/>
        <result property="holder" column="holder"/>
        <result property="classifyLabels" column="classify_labels"/>
        <association property="basic" column="cp_info_id" javaType="CompetitionInfo" resultMap="infoResult"/>
        <association property="details" column="cp_id" javaType="CompetitionPeriodDetails" resultMap="detailsResult"/>
    </resultMap>

    <resultMap type="CompetitionInfo" id="infoResult">
        <result property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="viewNumber" column="view_number"/>
        <result property="concernNumber" column="concern_number"/>
    </resultMap>

    <resultMap type="CompetitionPeriodDetails" id="detailsResult">
        <result property="cpId" column="cp_id"/>
        <result property="intro" column="intro"/>
        <result property="content" column="content"/>
        <result property="officialLink" column="official_link"/>
    </resultMap>

    <sql id="selectCompetitionPeriodVo">
        select id,
               create_by,
               update_by,
               create_time,
               update_time,
               cp_info_id,
               name,
               pic_url,
               sign_begin_time,
               sign_end_time,
               school_id,
               (select school_name
                from edu_school
                where edu_school.school_id = ci_competition_period.school_id) as "school_name",
               holder,
               classify_labels
        from ci_competition_period
    </sql>

    <sql id="selectCompetitionPeriodInfoVo">
        select ci_competition_period.id,
               ci_competition_period.create_by,
               ci_competition_period.update_by,
               ci_competition_period.create_time,
               ci_competition_period.update_time,
               cp_info_id,
               ci_competition_period.name,
               pic_url,
               sign_begin_time,
               sign_end_time,
               school_id,
               (select school_name
                from edu_school
                where edu_school.school_id = ci_competition_period.school_id) as "school_name",
               holder,
               classify_labels,
               cci.level,
               cci.view_number,
               cci.concern_number
        from ci_competition_period
                 left join ci_competition_info cci on ci_competition_period.cp_info_id = cci.id
    </sql>

    <sql id="selectCompetitionPeriodDetailsVo">
        select ci_competition_period.id,
               ci_competition_period.create_by,
               ci_competition_period.update_by,
               ci_competition_period.create_time,
               ci_competition_period.update_time,
               cp_info_id,
               ci_competition_period.name,
               pic_url,
               sign_begin_time,
               sign_end_time,
               school_id,
               (select school_name
                from edu_school
                where edu_school.school_id = ci_competition_period.school_id) as "school_name",
               holder,
               classify_labels,
               d.cp_id,
               d.official_link,
               d.intro,
               d.content,
               cci.level,
               cci.view_number,
               cci.concern_number
        from ci_competition_period
                 left join ci_competition_period_details d on d.cp_id = id
                 left join ci_competition_info cci on ci_competition_period.cp_info_id = cci.id
    </sql>

    <sql id="demo">

    </sql>

    <select id="selectCompetitionPeriodList" parameterType="CompetitionPeriod" resultMap="CompetitionPeriodResult">
        <include refid="selectCompetitionPeriodInfoVo"/>
        <where>
            <if test="cpInfoId != null ">and cp_info_id = #{cpInfoId}</if>
            <if test="name != null  and name != ''">and ci_competition_period.name like concat('%', #{name}, '%')</if>
            <if test="signTime != null">
                and #{signTime} between sign_begin_time and sign_end_time
            </if>
            <if test="schoolId != null ">and school_id = #{schoolId}</if>
            <if test="holder != null  and holder != ''">and holder = #{holder}</if>
            <if test="level != null and level != ''">and level = #{level}</if>
            <if test="classify != null">and #{classify} in (select parent_id from ci_competition_classify left join ci_info_classify
                cic on id = cic.classify_id where cic.cp_info_id = cci.id)
            </if>
        </where>
        order by cci.view_number desc
    </select>

    <select id="selectConcernedCompetitionPeriodList" parameterType="CompetitionPeriod"
            resultMap="CompetitionPeriodResult">
        <include refid="selectCompetitionPeriodVo"/>
        where ci_competition_period.id in (select cp_id from ci_user_concern_cp where create_by = #{createBy})
    </select>

    <select id="selectCompetitionPeriodById" parameterType="Long" resultMap="CompetitionPeriodResult">
        <include refid="selectCompetitionPeriodDetailsVo"/>
        where ci_competition_period.id = #{id}
    </select>

    <select id="selectCompetitionPeriodOptions" parameterType="CompetitionPeriod" resultType="Map">
        select id as "value",
        name as "label"
        from ci_competition_period
        <if test="name != null and name != ''">
            where name like concat('%', #{name} ,'%')
        </if>
        limit 100
    </select>

    <insert id="insertCompetitionPeriod" parameterType="CompetitionPeriod" useGeneratedKeys="true" keyProperty="id">
        insert into ci_competition_period
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="cpInfoId != null ">cp_info_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="picUrl != null  and picUrl != ''">pic_url,</if>
            <if test="signBeginTime != null ">sign_begin_time,</if>
            <if test="signEndTime != null ">sign_end_time,</if>
            <if test="schoolId != null ">school_id,</if>
            <if test="holder != null  and holder != ''">holder,</if>
            <if test="classifyLabels != null  and classifyLabels != ''">classify_labels,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="cpInfoId != null ">#{cpInfoId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="picUrl != null  and picUrl != ''">#{picUrl},</if>
            <if test="signBeginTime != null ">#{signBeginTime},</if>
            <if test="signEndTime != null ">#{signEndTime},</if>
            <if test="schoolId != null ">#{schoolId},</if>
            <if test="holder != null  and holder != ''">#{holder},</if>
            <if test="classifyLabels != null  and classifyLabels != ''">#{classifyLabels},</if>
        </trim>
    </insert>

    <update id="updateCompetitionPeriod" parameterType="CompetitionPeriod">
        update ci_competition_period
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="cpInfoId != null ">cp_info_id = #{cpInfoId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="picUrl != null  and picUrl != ''">pic_url = #{picUrl},</if>
            <if test="signBeginTime != null ">sign_begin_time = #{signBeginTime},</if>
            <if test="signEndTime != null ">sign_end_time = #{signEndTime},</if>
            <if test="schoolId != null ">school_id = #{schoolId},</if>
            <if test="holder != null  and holder != ''">holder = #{holder},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateCover">
        update ci_competition_period
        set pic_url = #{url}
        where id = #{id}
    </update>

    <update id="updateClassifyLabelsByInfoId">
        update ci_competition_period
        set classify_labels = #{classifyLabels}
        where cp_info_id = #{cpInfoId}
    </update>

    <delete id="deleteCompetitionPeriodById" parameterType="Long">
        delete
        from ci_competition_period
        where id = #{id}
    </delete>

    <delete id="deleteCompetitionPeriodByIds" parameterType="String">
        delete from ci_competition_period where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>