<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ci.mapper.MsgSysNoticeMapper">
    
    <resultMap type="MsgSysNotice" id="MsgSysNoticeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="url"    column="url"    />
        <result property="createTime"    column="create_time"    />
        <result property="toUserId"    column="to_user_id"    />
    </resultMap>

    <sql id="selectMsgSysNoticeVo">
        select id, title, content, url, create_time, to_user_id from ci_msg_sys_notice
    </sql>

    <select id="selectMsgSysNoticeList" parameterType="MsgSysNotice" resultMap="MsgSysNoticeResult">
        <include refid="selectMsgSysNoticeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="toUserId != null "> and to_user_id like concat('%', #{toUserId}, '%')</if>
        </where>
    </select>
    
    <select id="selectMsgSysNoticeById" parameterType="Long" resultMap="MsgSysNoticeResult">
        <include refid="selectMsgSysNoticeVo"/>
        where id = #{id}
    </select>

    <select id="selectMsgSysNoticeOptions" parameterType="MsgSysNotice" resultType="Map">
         select id as "value",
         `name` as "label"
        from ci_msg_sys_notice
        <if test="name != null and name != ''">
            where `name` like concat('%', #{name}, '%')
         </if>
    </select>
        
    <insert id="insertMsgSysNotice" parameterType="MsgSysNotice" useGeneratedKeys="true" keyProperty="id">
        insert into ci_msg_sys_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="toUserId != null ">to_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="toUserId != null ">#{toUserId},</if>
         </trim>
    </insert>

    <update id="updateMsgSysNotice" parameterType="MsgSysNotice">
        update ci_msg_sys_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="toUserId != null ">to_user_id = #{toUserId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsgSysNoticeById" parameterType="Long">
        delete from ci_msg_sys_notice where id = #{id}
    </delete>

    <delete id="deleteMsgSysNoticeByIds" parameterType="String">
        delete from ci_msg_sys_notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>