<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ci.mapper.PostInfoMapper">

    <resultMap type="PostInfo" id="PostInfoResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="cpId" column="cp_id"/>
        <result property="cpName" column="cp_name"/>
        <result property="name" column="name"/>
        <result property="associated" column="associated"/>
        <result property="type" column="type"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="status" column="status"/>
        <result property="summary" column="summary"/>
        <result property="likeNum" column="like_num"/>
        <result property="collectNum" column="collect_num"/>
        <result property="viewNum" column="view_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="downloadNum" column="download_num"/>
    </resultMap>

    <sql id="selectPostInfoVo">
        select id,
               create_by,
               update_by,
               create_time,
               update_time,
               del_flag,
               cp_id,
               (select `name` from ci_competition_period where cp_id = ci_competition_period.id) as "cp_name",
               name,
               associated,
               type,
               summary,
               status,
               cover_url,
               like_num,
               collect_num,
               view_num,
               comment_num,
               download_num
        from ci_post_info
    </sql>

    <sql id="selectPostInfoContentVo">
        select id,
               create_by,
               update_by,
               create_time,
               update_time,
               del_flag,
               cp_id,
               (select `name` from ci_competition_period where cp_id = ci_competition_period.id) as "cp_name",
               name,
               associated,
               type,
               summary,
               status,
               cover_url,
               like_num,
               collect_num,
               view_num,
               comment_num,
               download_num,
               (select content from ci_post_content where post_id = id)                          as "content"
        from ci_post_info
    </sql>

    <select id="selectPostInfoList" parameterType="PostInfo" resultMap="PostInfoResult">
        <include refid="selectPostInfoVo"/>
        <where>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
            <if test="cpId != null ">and cp_id = #{cpId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="summary != null  and summary != ''">and summary like concat('%', #{summary}, '%')</if>
        </where>
    </select>

    <select id="selectPostInfoCollection" parameterType="PostInfo" resultMap="PostInfoResult">
        <include refid="selectPostInfoVo"/>
        where id in (select post_id from ci_collection_content where create_by = #{createBy})
    </select>

    <select id="selectPostInfoById" parameterType="Long" resultMap="PostInfoResult">
        <include refid="selectPostInfoContentVo"/>
        where id = #{id}
    </select>

    <select id="selectPostInfoOptions" parameterType="PostInfo" resultType="Map">
        select id as "value",
        `name` as "label"
        from ci_post_info
        <if test="name != null and name != ''">
            where `name` like concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertPostInfo" parameterType="PostInfo" useGeneratedKeys="true" keyProperty="id">
        insert into ci_post_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="cpId != null ">cp_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="associated != null ">associated,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="summary != null  and summary != ''">summary,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="coverUrl != null  and coverUrl != ''">cover_url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="cpId != null ">#{cpId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="associated != null ">#{associated},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="coverUrl != null  and coverUrl != ''">#{coverUrl},</if>
        </trim>
    </insert>

    <update id="updatePostInfo" parameterType="PostInfo">
        update ci_post_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="cpId != null ">cp_id = #{cpId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="associated != null ">associated = #{associated},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="summary != null  and summary != ''">summary = #{summary},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="coverUrl != null  and coverUrl != ''">cover_url = #{coverUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="publicPost" parameterType="Long">
        update ci_post_info
        set status = '1'
        where id = #{id}
    </update>

    <update id="addCollectNum" parameterType="Long">
        update ci_post_info
        set collect_num = collect_num + 1
        where id = #{id}
    </update>

    <update id="addViewNum" parameterType="Long">
        update ci_post_info
        set view_num = view_num + 1
        where id = #{id}
    </update>

    <update id="addCommentNum" parameterType="Long">
        update ci_post_info
        set comment_num = comment_num + 1
        where id = #{id}
    </update>

    <update id="addLikeNum" parameterType="Long">
        update ci_post_info
        set like_num = like_num + 1
        where id = #{id}
    </update>

    <delete id="deletePostInfoById" parameterType="Long">
        delete
        from ci_post_info
        where id = #{id}
    </delete>

    <delete id="deletePostInfoByIds" parameterType="String">
        delete from ci_post_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>