<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ci.mapper.PostCommentMapper">

    <resultMap type="PostComment" id="PostCommentResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="content" column="content"/>
        <result property="postId" column="post_id"/>
        <result property="postName" column="post_name"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectPostCommentVo">
        select id,
               create_by,
               update_by,
               create_time,
               update_time,
               content,
               post_id,
               (select `name` from ci_post_info where post_id = ci_post_info.id) as "post_name",
               del_flag
        from ci_post_comment
    </sql>

    <select id="selectPostCommentList" parameterType="PostComment" resultMap="PostCommentResult">
        <include refid="selectPostCommentVo"/>
        <where>
            <if test="content != null  and content != ''">and content like cancat('%',#{content} ,'%')</if>
            <if test="postId != null ">and post_id = #{postId}</if>
        </where>
    </select>

    <select id="selectPostCommentById" parameterType="Long" resultMap="PostCommentResult">
        <include refid="selectPostCommentVo"/>
        where id = #{id}
    </select>

    <select id="selectPostCommentOptions" parameterType="PostComment" resultType="Map">
        select id as "value",
        `name` as "label"
        from ci_post_comment
        <if test="name != null and name != ''">
            where `name` like concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertPostComment" parameterType="PostComment" useGeneratedKeys="true" keyProperty="id">
        insert into ci_post_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="postId != null ">post_id,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="postId != null ">#{postId},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updatePostComment" parameterType="PostComment">
        update ci_post_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="postId != null ">post_id = #{postId},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePostCommentById" parameterType="Long">
        delete
        from ci_post_comment
        where id = #{id}
    </delete>

    <delete id="deletePostCommentByIds" parameterType="String">
        delete from ci_post_comment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>