<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ci.mapper.PostDraftMapper">

    <resultMap type="PostDraft" id="PostDraftResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="cpId" column="cp_id"/>
        <result property="name" column="name"/>
        <result property="associated" column="associated"/>
        <result property="type" column="type"/>
        <result property="summary" column="summary"/>
    </resultMap>

    <sql id="selectPostDraftVo">
        select id,
               create_by,
               update_by,
               create_time,
               update_time,
               cp_id,
               (select `name` from ci_competition_info where cp_id = ci_competition_info.id) as "cp_name",
               name,
               associated,
               type,
               summary
        from ci_post_draft
    </sql>

    <select id="selectPostDraftList" parameterType="PostDraft" resultMap="PostDraftResult">
        <include refid="selectPostDraftVo"/>
        <where>
            <if test="cpId != null ">and cp_id = #{cpId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="summary != null  and summary != ''">and summary like concat('%', #{summary}, '%')</if>
        </where>
    </select>

    <select id="selectPostDraftById" parameterType="Long" resultMap="PostDraftResult">
        <include refid="selectPostDraftVo"/>
        where id = #{id}
    </select>

    <select id="selectPostDraftOptions" parameterType="PostDraft" resultType="Map">
        select id as "value",
        `name` as "label"
        from ci_post_draft
        <if test="name != null and name != ''">
            where `name` like concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertPostDraft" parameterType="PostDraft" useGeneratedKeys="true" keyProperty="id">
        insert into ci_post_draft
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="cpId != null ">cp_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="associated != null ">associated,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="summary != null  and summary != ''">summary,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="cpId != null ">#{cpId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="associated != null ">#{associated},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
        </trim>
    </insert>

    <update id="updatePostDraft" parameterType="PostDraft">
        update ci_post_draft
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="cpId != null ">cp_id = #{cpId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="associated != null ">associated = #{associated},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="summary != null  and summary != ''">summary = #{summary},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePostDraftById" parameterType="Long">
        delete
        from ci_post_draft
        where id = #{id}
    </delete>

    <delete id="deletePostDraftByIds" parameterType="String">
        delete from ci_post_draft where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>