<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.ci.mapper.TeamExpectMapper">

    <resultMap type="TeamExpect" id="TeamExpectResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="cpId" column="cp_id"/>
        <result property="cpName" column="cp_name"/>
        <result property="work" column="work"/>
        <result property="capability" column="capability"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectTeamExpectVo">
        select
            id,
            create_by,
            create_time,
            cp_id,
            work,
            capability,
            (select name
             from ci_competition_period
             where cp_id = ci_competition_period.id) as "cp_name",
            status
        from ci_team_expect
    </sql>

    <select id="selectTeamExpectList" parameterType="TeamExpect" resultMap="TeamExpectResult">
        <include refid="selectTeamExpectVo"/>
        <where>
            <if test="cpId != null ">and cp_id = #{cpId}</if>
            <if test="work != null  and work != ''">and work = #{work}</if>
            <if test="capability != null  and capability != ''">and capability like concat('%', #{capability}, '%')</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <select id="selectTeamExpectById" parameterType="Long" resultMap="TeamExpectResult">
        <include refid="selectTeamExpectVo"/>
        where id = #{id}
    </select>

    <select id="selectTeamExpectOptions" parameterType="TeamExpect" resultType="Map">
        select id as "value",
        `name` as "label"
        from ci_team_expect
        <if test="name != null and name != ''">
            where `name` like concat('%', #{name}, '%')
        </if>
    </select>

    <insert id="insertTeamExpect" parameterType="TeamExpect" useGeneratedKeys="true" keyProperty="id">
        insert into ci_team_expect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="cpId != null ">cp_id,</if>
            <if test="work != null  and work != ''">work,</if>
            <if test="capability != null  and capability != ''">capability,</if>
            <if test="status != null  and status != ''">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="cpId != null ">#{cpId},</if>
            <if test="work != null  and work != ''">#{work},</if>
            <if test="capability != null  and capability != ''">#{capability},</if>
            <if test="status != null  and status != ''">#{status},</if>
        </trim>
    </insert>

    <update id="updateTeamExpect" parameterType="TeamExpect">
        update ci_team_expect
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="cpId != null ">cp_id = #{cpId},</if>
            <if test="work != null  and work != ''">work = #{work},</if>
            <if test="capability != null  and capability != ''">capability = #{capability},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeamExpectById" parameterType="Long">
        delete from ci_team_expect
        where id = #{id}
    </delete>

    <delete id="deleteTeamExpectByIds" parameterType="String">
        delete from ci_team_expect where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>